[submodule "003e_basic_functions"]
	path = 003e_basic_functions
	url = git@github.com:2425-3AHIF-WMC/ts-01-basics-functions-antoniosubasic.git
[submodule "004e_more_basics"]
	path = 004e_more_basics
	url = git@github.com:2425-3AHIF-WMC/ts-02-more-basics-training-antoniosubasic.git
[submodule "005e_arrays_functions"]
	path = 005e_arrays_functions
	url = git@github.com:2425-3AHIF-WMC/ts-03-arrays-and-functions-antoniosubasic.git
[submodule "007e_classes"]
	path = 007e_classes
	url = git@github.com:2425-3AHIF-WMC/ts-04-classes-antoniosubasic.git
[submodule "008e_interfaces"]
	path = 008e_interfaces
	url = git@github.com:2425-3AHIF-WMC/ts-05-interfaces-antoniosubasic.git
[submodule "009e_pokeapi"]
	path = 009e_pokeapi
	url = git@github.com:2425-3AHIF-WMC/ts-06-pokeapi-antoniosubasic.git
[submodule "011e_static_hosting"]
	path = 011e_static_hosting
	url = git@github.com:2425-3AHIF-WMC/api-01-static-hosting-antoniosubasic.git
[submodule "013e_api_garage"]
	path = 013e_api_garage
	url = git@github.com:2425-3AHIF-WMC/api-02-garage-antoniosubasic.git
[submodule "014e_quiz"]
	path = 014e_quiz
	url = git@github.com:2425-3AHIF-WMC/api-03-quiz-antoniosubasic.git
[submodule "015e_moviedb"]
	path = 015e_moviedb
	url = git@github.com:2425-3AHIF-WMC/api-04-moviedb-antoniosubasic.git
[submodule "016e_sqlite_intro"]
	path = 016e_sqlite_intro
	url = git@github.com:2425-3AHIF-WMC/db-01-flights-antoniosubasic.git
[submodule "017e_sqlite_queries"]
	path = 017e_sqlite_queries
	url = git@github.com:2425-3AHIF-WMC/db-02-queries-1-antoniosubasic.git
