[submodule "003_basic_functions"]
	path = 003_basic_functions
	url = git@github.com:2425-3AHIF-WMC/ts-01-basics-functions-antoniosubasic.git
[submodule "004_more_basics"]
	path = 004_more_basics
	url = git@github.com:2425-3AHIF-WMC/ts-02-more-basics-training-antoniosubasic.git
